header {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
